@media (min-width: 400px) {
    body {
      background-image: url(/images/bg-desktop.svg);
      background-position: left center;
      background-size: cover;
    }
  }
  @media (min-width: 800px) {
    .flex-box {
      flex-direction: row;
      .logo {
        display: block;
      }
      .second-box {
        text-align: left;
        align-self: center;
        .btn {
          padding: 1em 4.5em;
        }
      }
    }
  
    .footer {
      justify-content: flex-end;
      .icon-last {
        margin-right: 3em;
      }
    }
  }
  