@import "base";
@import "mediaQuery";
.logo {
  width: Min(200px, 60%);
  margin: 3em 1.9em;
}
.flex-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  .first-box {
    padding: 2em;
  }
  .second-box {
    width: Min(730px, 100%);
    text-align: center;
    padding: 2em;
    p {
      margin-bottom: 2.5em;
      font-size: clamp(1rem, 1.6vw, 1.4rem);
    }
    .btn {
      background-color: white;
      padding: 0.7em 4.5em;
      border-radius: 28px;
      text-decoration: none;
      color: $Violet;
      &:hover {
        background-color: $Soft-Magenta;
        color: #fff;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  .icon {
    margin-left: 1em;
  }
}

.icon-clr {
  color: #fff;
  background-color: $Violet;
  &:hover {
    color: $Soft-Magenta;
  }
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  font-size: 23px;
  
}

.fa-facebook-f{
  padding: 5px 9px;
}

@media (min-width: 400px) {
  body {
    background-image: url(bg-desktop.svg);
    background-position: left center;
    background-size: cover;
  }
}
@media (min-width: 800px) {
  .flex-box {
    flex-direction: row;
    .logo {
      display: block;
    }
    .second-box {
      text-align: left;
      align-self: center;
      .btn {
        padding: 1em 4.5em;
      }
    }
  }

  .footer {
    justify-content: flex-end;
    .icon-last {
      margin-right: 3em;
    }
  }
}
